container_commands:
  01_collectstatic:
    command: |
     export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
     source /var/app/venv/staging-LQM1lest/bin/activate
     cd /var/app/staging/
     python manage.py collectstatic --noinput --settings tshirts.settings.production
  02_migrate:
    command: |
      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      source /var/app/venv/staging-LQM1lest/bin/activate
      cd /var/app/staging/
      python manage.py migrate --settings tshirts.settings.production