container_commands:
  00_install_dependencies:
    command |
      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      cd /var/app/staging/
      poetry export -f requirements.txt --output requirements.txt
      source /var/app/venv/staging-LQM1lest/bin/activate
      pip install -r requirements.txt
  01_collectstatic:
    command: |
     export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
     source /var/app/venv/staging-LQM1lest/bin/activate
     cd /var/app/staging/
     python manage.py collectstatic --noinput --settings tshirts.settings.production
  02_migrate:
    command: |
      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      source /var/app/venv/staging-LQM1lest/bin/activate
      cd /var/app/staging/
      python manage.py migrate --settings tshirts.settings.production